@import "foundation";
@import "font-awesome";

// Color Scheme

$black: #0D0D0D;
$gray: #A6A6A6;
$ltgray: #F2F2F2;
$dkgreen: #3A5959;
$teal: #008D73;

.employee-views {
  display: inline-block;
  margin-top: 0;
}

.beacons-current {
  display: inline-block;
}

.headerthing {
  display: block;
}

.bodystuff {
  display: block;
}

body {
  background: $ltgray;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  min-width: 990px;
  max-width: 100%;
  width: 100%;
  height: 575px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

}

.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -435px;
}

.fa-home {
  font-size: 18px;
}

.home-btns {
  margin-top: 5px;
  text-align: center;

  button {
    margin-left: 5px;
  }
}

// Admin Console

h2 {
  display: inline-block;
}

.beacons-current {
  border: 1px solid $black;
}

.employee-views {
  margin-top: 5%;
  border: 1px solid $black;
}

// logout button

.logout-btn {
  float: right;
  border: none;
  margin-top: 10px;
  background-color: $teal;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 5px lighten($dkgreen, 5%);
}
.logout-btn:hover {
  background-color: lighten($dkgreen, 10%);
}
.logout-btn:active {
  margin-top: 15px;
  box-shadow: 0px 0px 0px $dkgreen;
}
