<div class="headerthing">

  <h3>Admin Console</h3>
  <button class="button tiny logout-btn" ng-click="logout()">Log Out</button>
  <hr>
</div>

<div class="bodystuff">
  <div class="employee-views">

  <p>Employees in your Organization</p>
  <ul ng-repeat="employee in employees">
    <li><a class="emplink" href="#/single/{{ employee.id }}">{{ employee.username }}</a></li>
  </ul>

  </div>

  <div class="beacons-current">
    <span>Employee Activity</span>
    <table>
      <thead>
        <tr>
          <th width="150px">Employee</th>
          <th width="75px">Zone</th>
          <th width="75px">State</th>
          <th width="100px">Time Start</th>
          <th width="100px">Duration</th>
        </tr>
      </thead>
        <tr ng-repeat="d in deez | orderBy: '+duration'">
          <td>{{ d.employee }}</td>
          <td>{{ d.beacon_id }}</td>
          <td>{{ d.state }}</td>
          <td>{{ d.duration | date: 'shortTime'}}</td>
          <td>{{ d.duration + ' secs'}}</td>
        </tr>
    </table>
  </div>

  <hr>

  <div class="chart-wrapper" ng-controller="GraphicController">
    <h3>Employee Location Trends</h3>
    <canvas id="base" class="chart-base" chart-type="type"
  chart-data="data" chart-labels="labels" chart-legend="false">
    </canvas> 

    <canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
    </canvas> 
  </div>



