<div class="headerthing">

  <h2>Welcome, overlord.</h2>
  <button class="button tiny logout-btn" ng-click="logout()">Log Out</button>

</div>

<div class="bodystuff">
  <div class="employee-views">

  <p>Employees in your Organization</p>
  <ul ng-repeat="employee in employees">
    <li><a class="emplink" href="#/single/{{ employee.id }}">{{ employee.username }}</a></li>
  </ul>

  </div>

  <div class="beacons-current">

    <table>
      <thead>
        <tr>
          <th width="150px">Employee</th>
          <th width="150px">Zone</th>
          <th width="150px">State</th>
          <th width="100px">Time Start</th>
          <th width="100px">Duration</th>
        </tr>
        <tr ng-repeat="d in deez">
          <td>{{ d.employee }}</td>
          <td>{{ d.beacon_id }}</td>
          <td>{{ d.state }}</td>
          <td>{{ d.duration | date: 'shortTime'}}</td>
          <td>{{ d.duration + ' secs'}}</td>
        </tr>
      </thead>
    </table>

  </div>



