<div class="wrapper">
  <img class="logo" src="images/officehawklogo.png">
  <img src="images/hawksplash.png">
</div> 
  

  <div class="home-btns" ng-controller="HomeController">
   
    <audio id="loginsound">
      <source src="images/Screaming Hawk 2-SoundBible.com-1003225740.mp3">
    </audio>
    <a href="#" onMouseover="uniquevar.playclip()"></a>

    <button class="button secondary" ng-click="playlogin()">Login</button>
    <button class="button secondary" ng-click="playregister()">Register</button>
  
  </div>
