<div class="wrapper">
  <img class="logo" src="images/officehawklogo.png">
  <img src="images/hawksplash.png">
</div> 
  

  <div class="home-btns">
   
    <!-- <audio controls>
      <source src="images/Screaming Hawk 2-SoundBible.com-1003225740.mp3" type="audio/mpeg">
    </audio> -->
    <!-- //<a href="#" onMouseover="uniquevar.playclip()"></div>/a> -->

    <a href="#/login" onMouseover="uniquevar.playclip()"><button class="button secondary">Login</button></a>
    <a href="#/register" onMouseover="uniquevar.playclip()"><button class="button secondary">Register</button></a>
  
  </div>
