<div class="headerthing">

  <h3>Single Employee</h3>
  <button class="button tiny logout-btn" ng-click="logout()">Log Out</button>
<hr>
</div>


<div class="beacons-employee">

  <span>Activity Feed</span>
  <table>
    <thead>
      <tr>
        <th width="75px">Zone</th>
        <th width="75px">State</th>
        <th width="100px">Time Start</th>
        <th width="100px">Duration</th>
      </tr>
    </thead>
      <tr ng-repeat="d in singleEmp">
        <td>{{ d.beacon_id }}</td>
        <td>{{ d.state }}</td>
        <td>{{ d.duration | date: 'shortTime'}}</td>
        <td>{{ d.duration + ' secs'}}</td>
      </tr>
  </table>

</div>

<div class="pie-wrapper" ng-controller="IndGraphicController">
  <span>Employee's Time</span>
  <canvas id="pie" class="chart chart-pie"
    chart-data="data" chart-labels="labels">
  </canvas> 
</div>



